DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hw10
DB_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
JWT_SECRET=supersecretkey
JWT_ALGORITHM=HS256
ACCESS_TOKEN_LIFETIME_MINUTES=120
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=noreply@example.com
MAIL_PORT=1025
MAIL_SERVER=localhost
MAIL_FROM_NAME="Mailpit"
MAIL_STARTTLS=False
MAIL_SSL_TLS=False
MAIL_USE_CREDENTIALS=False
MAIL_VALIDATE_CERTS=False
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=